﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.clicker2
{
    width:100px;
    height:50px;
}

.clicker
{
    border: solid 3px black;
    
    cursor: pointer;
    height: 50px;
}

.roll-carousel
{
    height:48px;
}

.carousel-text
{
    text-align:center;
}

.carousel-host
{
    padding:0;
}
.row
{
    margin-bottom: 10px;
}

.purple {
    background-color: #dd67dd;
}
.purple:hover, .purple:focus
{
    background-color: #b856b8;
}

.blue {
    background-color: #00B3DF;
}

.blue:hover, .blue:focus {
    background-color: #0099BF;
}

.grey {
    background-color: #D8D8D8;
}
.grey:hover, .grey:focus {
    background-color: #A2A2A2;
}

.black{
    background-color: black;
    color: white;
}

.white{
    border:solid 2px black;
}

.button-link {
    border-radius: 4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    border: solid 1px #20538D;
}

.button-link:hover
{
    text-decoration: none;
}

.pressed {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}