﻿<script src="Scripts/rolls.js"></script>
<script src="Scripts/rollBridge.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="Content/Site.css"/>
<div class="jumbotron">
    <h1>Blackfortress roller</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="col-md-6 clicker grey" id="r1g">
            Roll 1 Grey
        </div>
        <div class="col-md-6 clicker grey" id="r2g">
            Roll 2 Grey
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6 clicker blue" id="r1b">
            Roll 1 Blue
        </div>
        <div class="col-md-6 clicker blue"  id="r2b">
            Roll 2 Blue
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6 clicker purple"  id="r1p">Roll 1 Purple</div>
        <div class="col-md-6 clicker purple"  id="r2p">Roll 2 Purple</div>
    </div>

</div>
<div class="row" id="regulardice">
    <div class="col-md-6 clicker black" id="ri">
        Roll Inspiration
    </div>
    <div class="col-md-6 clicker white" id="ra">
        Roll Activation
    </div>
</div>

<div class="row">
    <div class="col-xs-3 carousel-host" id="enemyType">
        <div id="enemyTypeCarousel" class="carousel slide roll-carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="enemyTypeCarouselInner">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#enemyTypeCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#enemyTypeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-3 carousel-host" id="enemySubType">
        <div id="enemySubTypeCarousel" class="carousel slide roll-carousel"  data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="enemySubTypeInner">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#enemySubTypeCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#enemySubTypeCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-3 carousel-host" id="enemyBehaviour">
        <div id="enemyBehaviourCarousel" class="carousel slide roll-carousel"  data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" id="enemyBehaviourInner">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#enemyBehaviourCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#enemyBehaviourCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-xs-3 clicker white" id="enemyResult"></div>
</div>

<div class="row" id="clear">
    <div class=" col-md-12 clicker white" id="cls"> Clear</div>
</div>

<div class="row" id="output">

</div>

<script>
    $(document).ready(function () {
        new RollBridge().init();
    });
</script>
